.arc/
.DS_Store
*.class
*.pyc
.*.swp
/.classpath
/.ensime
/.ensime_port
/.idea_modules/
/.idea/
/.project
*.classpath
*.project
*.classpath
*.project
*~
*/target
lib_managed
offsetapp.db
fabfile.py
target
