.topic-row {
  background-color: rgb(91, 192, 222);
  color: white;
  border-top: 3px solid #CCC;
}

.bs-callout-info {
background-color: #f4f8fa;
border-color: #5bc0de;
}
.bs-callout {
margin: 20px 0;
padding: 20px;
border-left: 3px solid #eee;
color: black;
}
.bs-callout-info h4 {
color: #5bc0de;
text-shadow: none;
}
